*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    width: 80%;
}
header{
    color: #e52165;
    height: 90px;
    width: 100%;
    background-color: #0d1137;
    position: fixed;
    top: 0;
    left: 0;
}
#checkbox{
    display: none;
}
header h2{
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    line-height: 70px;
}
nav{
    position: relative;
    top:-70px;
    background-color: transparent;
}
i.menu-icon{
    display: none;
    color: #e52165;
    font-size: 2.5em;
}
nav ul{
    list-style: none;
    max-height: 70px;
    padding: 15px 0;
    text-align: right;
}
nav ul li{
    padding: 20px;
    display: inline-flex;
}
nav ul li a{
    display: inline-block;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    font-weight: bold;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a:active{
    color: #e52165;
    position: relative;
    left: 8px;
    transition:0.5s;
}
#welcome-section{
    background-image: url('https://images.unsplash.com/photo-1580163238333-aeab3b0a112d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTQ4fHxiYWNrZ3JvdW5kJTIwYmxhY2t8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    margin-top: 0;
    font-size: 1.8em;
    height: 100vh;
}
.welcome-texts{
    padding: 300px 150px;
}
#welcome-section h3{
    color: #e52165;
    font-size: 1.6em;
    letter-spacing: 0.05em;
}
#welcome-section h1{
    font-size: 2.5em;
    letter-spacing: 0.1em;
}
#welcome-section p{
    font-style: italic;
    font-size: 1.6em;
    letter-spacing: 2px;
}
.about{
    border: 4px solid #000000;
    border-radius: 5px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    letter-spacing: 2px;
    font-style: normal;
    font-size: 1em;
}
.about:hover{
    border: 5px solid #e52165;
}
#welcome-section .social ul li{
    margin-top: 50px;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
#welcome-section .social ul li a{
    color: #fff;
    font-size: 30px;
}
#welcome-section .social ul li a:hover{
    color: #e52165;
    transition: 1s;
}
#about-me{
    background-color: #fff;
    margin-top: 80px;
}
#about-me h2{
    text-align: center;
    color: #e52165;
    font-size: 2.5em;
    font-weight: bolder;
}
#about-me .section-heading{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.portrait{
    width: 200px;
    border-radius: 50%;
}
.intro-section{
    margin:40px 150px;
    display: grid;
    grid-template-columns:200px 1fr ;
    grid-gap: 30px;
}
.intro{
    line-height: 2.2em;
}
p{
    font-size: 1.4em;
}
#skillset .profile h3,#skillset .skills h2{
    font-size: 2em;
    margin-bottom: 30px;
}
#skillset .profile p{
    line-height: 2em;
}
#skillset{
    margin: 10px 20px;
    padding: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
dd{
    font-weight: bold;
    font-size: 1.6em;
    text-transform: uppercase;
}
dt{
    font-size: 1.2em;
    line-height: 1.4em;
}
dl{
    margin-bottom: 30px;
}
.skills figure i{
    font-size: 3em;
    color: #0d1137;
    padding: 0;
    
}
.skills figure{
    border: 2px groove #0d1137;
    margin-bottom: 8px;
    width: 120px;
    text-align: center;
}
.skills figure:hover{
    position: relative;
    top: 5px;
    bottom: 5px;
}
.skills figure figcaption{
    background-color: #0d1137;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.skillset{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
button.cv{
    display: block;
    background-color: #0d1137;
    font-weight: bold;
    width: 100%;
    height: 70px;
    margin: 0 auto;
}
button.cv a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 70px;
}
#projects h3,#projects h2,#projects p{
    text-align: center;
}
#projects h3{
    color: #e52165;
    font-size: 2em;
}
#projects h2{
    font-size: 2.5em;
    text-transform: capitalize;
}
#projects p{
    font-size: 1.6em;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-gap: 30px; 
    align-items: center; 
    justify-items: center;
    align-content: center;
}
.project-tile{
    border: 3px solid #0d1137;
    padding: 30px;
    box-shadow: inset 1px -2px 6px rgba(0, 0,0, 0.3)
}
#projects p{
    line-height: 1.8em;
    letter-spacing: px;
}
figcaption{
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}
.description{
    font-style: italic;
    line-height: 1em;
}
.project-links{
    text-decoration: none;
    border: 3px solid #0d1137;
    color: #e52165;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #0d1137;
    height: 50px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
button{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d1137;
}
#contact{
    background-color: #0d1137;
    text-align: center;
    padding: 30px;
}
input{
    width: 70%;
    height: 50px;
    border-radius: 28px;
    background: #0d1137;
    transition: 0.25s;
    outline: none;
    border: 2px solid #fff;
    font-size: 1em;
    padding: 5px;
    color: #e52165;
}
input:hover,textarea:hover{
    border-color: #e52165;
    width: 80%;
}
input:focus{
    border-bottom: 3px solid #e52165;
}
input::placeholder{
    color: #e52165;
    font-size: 20px;
}
textarea{
    width: 70%;
    height: 150px;
    border: 3px solid #fff;
    font-size: 22px;
    background: none;
    color: #e52165;
    padding: 10px;
}
input[submit]{
    width: 30px;
}
#submit{
    height: 50px;
    width: 150px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.25s;
    color: #fff;
}
#submit:hover{
    background-color: #e52165;
    width: 180px;
}
#contact h2{
    text-align: center;
    font-size: 2.3em;
    text-transform: capitalize;
    color: #e52165;
}
form{
    border: 2px solid #e52165;
    padding: 20px;
    box-shadow: inset 2px -3px 4px #166088;
}
#contact h3,.message{
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
    font-size: 2em;
}
.socials ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    text-align: center;
}
.socials  li a{
    color: #e52165;
    transition: 1s;
    font-size: 2em;
}
.socials  li a:hover{
    color: #fff;
}
.email{
    margin-top: 30px;
    padding: 30px;
}
.email figure i{
    font-size: 3em;
    color: #fff;
}
.email figcaption{
    color: #e52165;
}
.socials p{
    font-size: 2em;
    color: #e52165;
}
hr{
    width: 100%;
    text-align: center;
    color: #fff;
}
footer{
    background-color: #166088;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
.footer-link{
    text-decoration: none;
    color: #e52165;
}
@media only screen and (max-width:789px){
    i.menu-icon{
        display: block;
    }
    header{
    display: flex;
    padding:  20px;
    justify-content: space-between;
    align-items: center;
    }
    nav {
    position: absolute;
    background-color: #0d1137;
    top:80px;
    left:0;
    width: 100%;
    }
    nav ul{
    max-height: 0;
    overflow: hidden;
    }
    nav ul li{
    padding: 0 15px;
    margin-top: 10px;
    display: flex;
    }
    #checkbox:checked ~ nav ul {
    max-height: 300px;
    padding: 15px 0;
    transition: all 0.5s;
    width: 50%;
    }
    .portrait{
    text-align: center;
    margin: 0 auto;
    }
    #about-me{
        text-align: center;
    }
    #skillset{
        grid-template-columns: 1fr;
        margin-left: 0;
    }
    .welcome-texts{
    padding: 200px 100px;
    }
    #welcome-section h3{
        font-size: 1.2em;
    }
    #welcome-section h1{
    font-size: 1.6em;
    letter-spacing: 10px;
    }
    #welcome-section p{
    font-size: 1.2em;
    letter-spacing: 0.05em;
}
    .intro-section{
        text-align: center;
        margin: 20px;
        display: block;
    }
    .about{
        width: 20px;
        font-size: .8em;
        padding: 3px;
        letter-spacing: 1px;
        height: 70px;
        line-height: 70px;
    }
    button.cv{
        width: 100%;
    }
    #skillset .profile h3{
        text-align: center;
    }
    .skillset{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    input,textarea{
        width: 100%;
    }
    .projects{
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width:500px){
    .about{
        font-size: .6em;
        border: 2px solid #000;
    }
    #welcome-section h3{
        font-size: .4em;
        margin-bottom: 10px;
    }
    #welcome-section h1{
    font-size: 1em;
    letter-spacing: 2px;
    margin-bottom: 5px;
    }
    #welcome-section p{
    font-size: .5em;
    letter-spacing: 0.05em;
    }
}